#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";
		qwert_layer {
            display-name = "Base";
			bindings = <
                &trans  &kp Q     &kp W    &kp E     &kp R      &kp T            &kp Y     &kp U   &kp I      &kp O   &kp P     &trans  
                &trans  &kp A     &kp S    &kp D     &kp F      &kp G            &kp H     &kp J   &kp K      &kp L   &kp SEMI  &trans  
                &trans  &kp Z     &kp X    &kp C     &kp V      &kp B            &kp N     &kp M   &kp COMMA  &kp DOT &kp FSLH  &trans  
                &trans  &kp LGUI  &kp LALT &kp LCTRL &kp SPACE  &mt LSHFT ENTER  &kp BSPC  &mo 1   &mo 2      &mo 3   &mo 4     &trans  
			>;
		};

		lower_layer {
            display-name = "FN 1";
			bindings = <
                &trans  &kp ESC   &kp LC(LEFT) &kp UP    &kp LC(RIGHT) &kp PG_UP      &kp EQUAL   &kp LBRC   &kp RBRC   &trans   &kp DEL    &trans    
                &trans  &kp TAB   &kp LEFT     &kp DOWN  &kp RIGHT     &kp PAGE_DOWN  &kp MINUS   &kp LPAR   &kp RPAR   &trans   &trans     &trans  
                &trans  &trans    &kp SQT      &kp BSLH  &kp RBKT      &trans         &kp SQT     &kp LBKT   &kp RBKT   &trans   &sk LSHFT  &trans  
                &trans  &sk LGUI  &trans       &trans    &sk LALT      &trans         &trans      &trans     &trans     &trans   &trans     &trans  
                        >; 
        };

		raise_layer {
            display-name = "NUM & SYM";
			bindings = <
                &trans  &kp N1     &kp N2     &kp N3     &kp N4     &kp N5     &kp N6          &kp N7   &kp N8      &kp N9    &kp N0    &trans  
                &trans  &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT  &kp GRAVE       &trans   &sk LGUI    &trans    &trans    &trans  
                &trans  &kp PIPE   &kp BSLH   &kp AMPS   &kp STAR   &kp CARET  &kp LS(LA(UP))  &trans   &kp COMMA   &kp DOT   &kp FSLH  &trans  
                &trans  &trans     &trans     &trans     &kp SPACE  &kp ENTER  &trans          &trans   &trans      &trans    &trans    &trans  
                        >;
		};

		layer_3 {
            display-name = "FNs";
			bindings = <
                &trans  &kp N1   &kp N2   &kp N3   &kp N4    &kp N5     &kp N6   &kp N7   &kp N8     &kp N9   &kp N0    &trans  
                &trans  &kp F1   &kp F2   &kp F3   &kp F4    &kp F5     &kp F6   &kp F7   &kp F8     &kp F9   &kp F10   &trans  
                &trans  &kp F11  &kp F12  &trans   &trans    &trans     &trans   &trans   &kp COMMA  &kp DOT  &kp FSLH  &trans  
                &trans  &trans   &trans   &trans   &kp SPACE &kp ENTER  &trans   &trans   &trans     &trans   &trans    &trans  
                        >;
        };

        layer_4 {
            display-name = "BT";
            bindings = <
                &trans  &trans      &sk LALT    &sk LCTRL  &sk LSHFT  &trans  &trans   &trans    &trans      &trans      &bootloader   &trans   
                &trans  &trans      &trans      &trans     &trans     &trans  &trans   &trans    &trans      &trans      &sys_reset    &trans    
                &trans  &trans      &trans      &trans     &trans     &trans  &trans   &trans    &trans      &trans      &kp LG(FSLH)  &trans  
                &trans  &bt BT_CLR  &bt BT_NXT  &trans     &trans     &trans  &trans   &kp C_PP  &kp C_PREV  &kp C_NEXT  &trans        &trans  
                        >;
        };
    };
};
