#include "blank-slate.dtsi"

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        // zmk,matrix-transform = &ortho_transform;
        zmk,physical-layout = &layout_ortho_4x12_all1u;
        zephyr,display = &oled;
    };

    mock_kscan: kscan_1 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};



