if SHIELD_BLANK_SLATE_DONGLE
	config ZMK_KEYBOARD_NAME
		default "Slate Dongle"
	
	# config ZMK_SPLIT_ROLE_CENTRAL
   	# 	default y
endif

# if SHIELD_BLANK_SLATE_KB || SHIELD_BLANK_SLATE_DONGLE
# 	config ZMK_SPLIT
#    		default y
# endif

# if SHIELD_BLANK_SLATE_KB 
# 	config ZMK_KEYBOARD_NAME
#     	default "slate_single"
# endif
