# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

if BOARD_LPGALAXY_BLANK_SLATE



config BOARD
    default "lpgalaxy_blank_slate"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT


config ZMK_BLE
	default y

config ZMK_USB
	default y


endif # BOARD_LPGALAXY_BLANK_SLATE
